//SCSS Font Variables
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Roboto', sans-serif;

//SCSS Color Variables
$primary-theme-color: #0049B7;
$secondary-blue-color: #00DDFF;
$fb-theme-blue: #2176FF;
$primary-red-color: #ff1d58;
$white-color: #ffffff;
$black-color: #000000;
$blue-green-color: #9df9ef;
$bright-blue-color: #51e2f5;
$bright-orange-color: #ff1e00;
$sidebar-font-color: #CED6E0;

//Dark Theme Variables
$dark-theme-bg: #0B0D12;
$dark-theme-input-bg: #232428;

//Light Theme Variables
$light-theme-bg: #FAF5F5;
$light-theme-input-bg: #ECE7E7;
$navbar-text-color: #E0FFFF;

